<div class="col-md-6 offset-md-3">
    <h3>Actualizar Cuenta</h3>

    <div class="compte">
        <div *ngIf="user">
            <p>Nombre de Usuario : {{ user.userName }}</p>
            <p>Número de Teléfono : {{ user.userFirstName}}</p>
            <p>Dirección : {{ user.userLastName }}</p>
            <p>Email : {{ user.userEmail}}</p></div></div>
    <form (ngSubmit)="onSubmit()" #profileForm="ngForm">

       




        



        <mat-form-field appearance="outline" class="w-100">
            <mat-label>Nuevo Contraseña</mat-label>
            <input matInput type="password" placeholder="Nueva Contraseña" [(ngModel)]="Userpassword" name="userPassword" required minlength="8">
            <mat-error *ngIf="profileForm.controls['userPassword'].hasError('required')">
                Contraseña es obligatorio
            </mat-error>
            <mat-error *ngIf="profileForm.controls['userPassword'].hasError('minlength')">
                Contraseña debe tener al menos 8 caracteres
            </mat-error>
        </mat-form-field>
















        <div class="text-center">
            <button class="w-100" type="submit" [disabled]="profileForm.invalid"  mat-stroked-button color="primary">Guardar</button>
          
        </div>  
    </form>
</div>
<app-footer></app-footer>
