.footer-contact{
    margin-left: 50px;
}
.footer-link{
    margin-left: 100px;
}
.map{
    margin-top: -60px;
    width: 500px;
    margin-left: 70px;
  }
.position-relative{
    border-radius: 5px;
    }