<div class="feature">
    <div class="container">
        <div class="row">
            <div class="col-md-5">
                <div class="section-header left">
                    <h2>Limpiadores expertos y servicios de alto nivel</h2>
                </div>
                <p>
                    ToDoClean a es una empresa especializada en la limpieza de habitaciones y espacios, dedicada a proporcionar entornos impecables y acogedores. 
                    Nuestro equipo altamente capacitado utiliza métodos de limpieza avanzados y productos de calidad para garantizar la pulcritud de cada rincón. Ya sea en hogares, oficinas o lugares comerciales.  , ToDoClean se compromete a ofrecer un servicio personalizado y completo. Nos destacamos por nuestra atención meticulosa, puntualidad y eficiencia, convirtiéndonos en la elección preferida para aquellos que buscan no solo limpieza, sino también comodidad.                 </p>
            </div>
            <div class="col-md-7">
                <div class="row align-items-center feature-item">
                    <div class="col-5">
                        <img src="assets/img/image2.jpg"  style="height: 220px ; width: 260px;">
                    </div>
                    <div class="col-7">
                        <h3>Limpiadores Expertos
                        </h3>
                        <p>
                            Contamos con un equipo altamente competente para la limpieza. Nuestra fuerza laboral está formada por profesionales dedicados que se destacan en ofrecer servicios de limpieza excepcionales. Con habilidades sólidas y un compromiso firme, nuestro equipo trabaja en conjunto para asegurar resultados impecables en la limpieza de diversos espacios.                         </p>
                    </div>
                </div>
                <div class="row align-items-center feature-item">
                    <div class="col-5">
                        <img src="assets/img/image1.jpg"  style="height: 220px ; width: 260px;">
                    </div>
                    <div class="col-7">
                        <h3>Precios Razonables</h3>
                        <p>
                           En ToDoClean ofrecemos tarifas razonables para nuestros servicios de limpieza. Creemos en proporcionar calidad a un precio justo. Puede confiar en que nuestros precios son competitivos mientras mantenemos un alto estándar en la limpieza de sus espacios.                         </p>
                    </div>
                </div>
                <div class="row align-items-center feature-item">
                    <div class="col-5">
                        <img src="assets/img/image3.jpeg"  style="height: 220px ; width: 260px;">
                    </div>
                    <div class="col-7">
                        <h3>Servicios rápidos y mejores</h3>
                        <p>
                            En ToDoClean, garantiza un servicio excepcional y rápido. Nuestra dedicación la excelencia se combina con una eficiencia destacada. No dude en contactarnos, quienes somos responsables de la calibración, lo que aumenta la velocidad y la eficiencia de la humanidad.                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="col-md-6">
    <div class="ask"  >
        <div class="faqs">
            <div id="accordion">
                <div class="card">
                    <div class="card-header">
                        <a class="card-link " data-toggle="collapse" href="#collapseOne" >
                            <span>1</span>¿Cómo garantizan la calidad de su servicio de limpieza?
                        </a>
                    </div>
                    <div id="collapseOne" class="collapse " data-parent="#accordion">
                        <div class="card-body">Nuestro equipo está capacitado y utiliza métodos de limpieza efectivos y seguros. Revisamos regularmente nuestro trabajo y valoramos los comentarios para garantizar un servicio de alta calidad.                                    </div>
                    </div>
                </div>
                <div class="card">
                    <div class="card-header">
                        <a class="card-link" data-toggle="collapse" href="#collapseTwo">
                            <span>2</span>¿Utilizan productos de limpieza ecológicos?
                        </a>
                    </div>
                    <div id="collapseTwo" class="collapse" data-parent="#accordion">
                        <div class="card-body">
                            Sí, estamos comprometidos con ser ecológicos. Utilizamos productos de limpieza ecológicos y métodos para minimizar nuestro impacto en el medio ambiente                                    </div>
                    </div>
                </div>
                <div class="card">
                    <div class="card-header">
                        <a class="card-link" data-toggle="collapse" href="#collapseThree">
                            <span>3</span>¿Cómo garantizan la seguridad en las limpiezas comerciales?
                        </a>
                    </div>
                    <div id="collapseThree" class="collapse" data-parent="#accordion">
                        <div class="card-body">La seguridad es crucial. Nuestro personal pasa por verificaciones de antecedentes y tenemos estrictas medidas de seguridad para mantener seguras sus instalaciones.                                    </div>
                    </div>
                </div>
                <div class="card">
                    <div class="card-header">
                        <a class="card-link" data-toggle="collapse" href="#collapseFour">
                            <span>4</span>¿Cuánto tiempo lleva realizar una limpieza estándar?
                        </a>
                    </div>
                    <div id="collapseFour" class="collapse" data-parent="#accordion">
                        <div class="card-body">
                            El tiempo varía según el tamaño y las necesidades del espacio. Podemos proporcionar estimaciones basadas en la información que nos proporcione sobre su hogar u oficina.                                    </div>
                    </div>
                </div>
            
            </div>
        </div>
    </div>
</div>

<app-footer></app-footer>



<a href="/sobre_nosotros" class="back-to-top"><i class="fa fa-chevron-up"></i></a>

  
    
  